@import "reset.css";;

:root {
  --app-dark-bg:#1a1d28;
  --font: rgb(255 255 255 /1);
  --section-bg:#262930;
  --border-color: #2a2c34;
  --border-radius: 6px;
  --app-red:#ff3c57;
  --app-green:#33ab4e;
  --app-purple:#833cff;
  --app-orange:#ff833c;
  --app-orange-hover:#fe7a2d;
  --app-blue:#3c57ff;
  --app-blue-hover:#364ee6;
  --app-light-white: #ffffff;
  --app-gray: #c0bbbac3;
  --app-header-height: 65px;
  --app-padding-width: 15%;
  --app-input-height: 50px;
}

body {
  background-color: #000;
  font-family: 'Nunito Sans', 'Open Sans', Arial, sans-serif;
}

body:before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 50 vh;
  z-index: -1;
  background: linear-gradient(rgba(255, 255, 255, 0.2), transparent 85%);
}

header {
  height: var(--app-header-height);
  background-color: var(--section-bg);
}

.header-container {
  display: flex;
  justify-content: space-between;
  padding-left: var(--app-padding-width);
  padding-right: var(--app-padding-width);
}

.header-title {
  width: 20%;
}

.header-nav-link {
  width:50%;
  display: flex;
  justify-content: right;
}

.header-title h2 {
  line-height: var(--app-header-height);
  color: var(--app-green);
  font-weight: 600;
  letter-spacing: 0.8px;
}

.menu-nav ul {
  list-style: none;
}

.menu-nav ul li {
  height: 56px;
  line-height: 56px;
  display: inline;
}

nav ul li + li {
  margin-left: 18px;
  margin-right: 10px;
}

.menu-nav ul li a {
  color: var(--app-light-white);
  text-decoration: none;
  letter-spacing: 0.2px;
  transition: color 0.25s ease-in-out;
}

nav ul li a:hover {
  color: var(--app-green);
}

input {
    border-radius:5px;
    font-weight: 450;
}

input[type='submit'], button, .button {
  padding: 8px 15px;
  background-color: var(--app-green);
  text-transform: uppercase;
  color: var(--app-light-white);
  font-weight: 250;
  cursor: pointer;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
  font-size: 14px;
}

input[type='submit']:hover , button:hover, .button:hover {
  opacity: 0.6;
}

.Allcurrency{
  margin-top: 35px;
}

.buttons {
  padding: 10px 0px;
  display: flex;
  margin-right:30px;
  justify-content: flex-end;
}

.btn-add {
  margin-left: 5px;
}

.btn-sort {
  padding-inline: 0px;
  height: 45px;
  width: 142px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 3fr);
  gap: 35px;
}

.footer {
  background-color: var(--app-dark-bg);
  color: var(--app-light-white);
  height: 8%;
  text-align: center;
  padding: 10px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%; 
}