@charset "utf-8";

:root {
  --app-dark-bg:#1a1d28;
  --font: rgb(255 255 255 /1);
  --section-bg:#262930;
  --border-color: #2a2c34;
  --border-radius: 6px;
  --app-red:#ff3c57;
  --app-green:#33ab4e;
  --app-purple:#833cff;
  --app-orange:#ff833c;
  --app-orange-hover:#fe7a2d;
  --app-blue:#3c57ff;
  --app-blue-hover:#364ee6;
  --app-light-white: #ffffff;
  --app-gray: #c0bbbac3;
}

body {
  background-color: #000;
  font-family: 'Nunito Sans', 'Open Sans', Arial, sans-serif;
}

body:before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 50 vh;
  z-index: -1;
  background: linear-gradient(rgba(255, 255, 255, 0.2), transparent 85%);
}

.container {
  width: min(100% - 30px, 1080px);
  margin-inline: auto;
}

.main-container{
  margin: 0px auto;
  padding: 25px;
  border-radius: 5px;
}

header {
  width: 100%;
  color: var(--app-light-white);
  display: flex;
  align-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
  margin-top: 1rem;
}

header h1 {
  line-height: 60px;
  font-weight: 750;
  letter-spacing: 0.9px;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  margin-right: 1rem;
}

nav a {
  color: var(--app-light-bg);
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

li{
  font-size: 18px;
  font-weight: 450;
  letter-spacing: 0.8px;
}

main {
  padding-bottom: 60px;
  height: min-content(100vh, auto);
  scroll-behavior: auto;
}

input {
    height: 40px;
    border-radius:5px;
    font-weight: 450;
}

input[type='submit'], button, .button {
  padding: 10px 35px;
  background-color: var(--app-green);
  text-transform: uppercase;
  color: var(--app-light-white);
  font-weight: 400;
  cursor: pointer;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
  font-size: 14px;
}

input[type='submit']:hover , button:hover, .button:hover {
  opacity: 0.6;
}

.Allcurrency{
  margin-top: 35px;
}

.buttons {
  padding: 20px 0px;
  display: flex;
  justify-content: flex-end;
}

.btn-add {
  margin-left: 0px;
}

.btn-sort {
  height: 85px;
  width: 130px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 3fr);
  gap: 35px;
}

.footer {
  background-color: var(--app-dark-bg);
  color: var(--app-light-white);
  height: 8%;
  text-align: center;
  padding: 10px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%; 
}